In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [3]:
dataset=pd.read_csv('Churn_Modelling.csv')

In [4]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [5]:
X=dataset.iloc[:,3:13]
Y=dataset.iloc[:,13]
X.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [6]:
X.shape

(10000, 10)

In [7]:
print(X)

      CreditScore Geography  Gender  Age  Tenure    Balance  NumOfProducts  \
0             619    France  Female   42       2       0.00              1
1             608     Spain  Female   41       1   83807.86              1
2             502    France  Female   42       8  159660.80              3
3             699    France  Female   39       1       0.00              2
4             850     Spain  Female   43       2  125510.82              1
5             645     Spain    Male   44       8  113755.78              2
6             822    France    Male   50       7       0.00              2
7             376   Germany  Female   29       4  115046.74              4
8             501    France    Male   44       4  142051.07              2
9             684    France    Male   27       2  134603.88              1
10            528    France    Male   31       6  102016.72              2
11            497     Spain    Male   24       3       0.00              2
12            476    France  Female   34      10       0.00              2
13            549    France  Female   25       5       0.00              2
14            635     Spain  Female   35       7       0.00              2
15            616   Germany    Male   45       3  143129.41              2
16            653   Germany    Male   58       1  132602.88              1
17            549     Spain  Female   24       9       0.00              2
18            587     Spain    Male   45       6       0.00              1
19            726    France  Female   24       6       0.00              2
20            732    France    Male   41       8       0.00              2
21            636     Spain  Female   32       8       0.00              2
22            510     Spain  Female   38       4       0.00              1
23            669    France    Male   46       3       0.00              2
24            846    France  Female   38       5       0.00              1
25            577    France    Male   25       3       0.00              2
26            756   Germany    Male   36       2  136815.64              1
27            571    France    Male   44       9       0.00              2
28            574   Germany  Female   43       3  141349.43              1
29            411    France    Male   29       0   59697.17              2
...           ...       ...     ...  ...     ...        ...            ...
9970          518    France    Male   42       7  151027.05              2
9971          833    France  Female   34       3  144751.81              1
9972          758    France    Male   26       4  155739.76              1
9973          611    France    Male   27       7       0.00              2
9974          583    France    Male   33       7  122531.86              1
9975          610   Germany    Male   50       1  113957.01              2
9976          637    France  Female   33       7  103377.81              1
9977          683    France  Female   32       9       0.00              2
9978          774    France    Male   40       9   93017.47              2
9979          677    France  Female   58       1   90022.85              1
9980          741     Spain    Male   35       6   74371.49              1
9981          498   Germany    Male   42       3  152039.70              1
9982          655   Germany  Female   46       7  137145.12              1
9983          613    France    Male   40       4       0.00              1
9984          602   Germany    Male   35       7   90602.42              2
9985          659    France    Male   36       6  123841.49              2
9986          673   Germany    Male   47       1  183579.54              2
9987          606     Spain    Male   30       8  180307.73              2
9988          775    France    Male   30       4       0.00              2
9989          841     Spain    Male   28       4       0.00              2
9990          714   Germany    Male   33       3   35016.60              1
9991          597    France  Female   53       4   88381.21              1
9992          726     Spain    Male   36       2       0.00              1
9993          644    France    Male   28       7  155060.41              1
9994          800    France  Female   29       2       0.00              2
9995          771    France    Male   39       5       0.00              2
9996          516    France    Male   35      10   57369.61              1
9997          709    France  Female   36       7       0.00              1
9998          772   Germany    Male   42       3   75075.31              2
9999          792    France  Female   28       4  130142.79              1

      HasCrCard  IsActiveMember  EstimatedSalary
0             1               1        101348.88
1             0               1        112542.58
2             1               0        113931.57
3             0               0         93826.63
4             1               1         79084.10
5             1               0        149756.71
6             1               1         10062.80
7             1               0        119346.88
8             0               1         74940.50
9             1               1         71725.73
10            0               0         80181.12
11            1               0         76390.01
12            1               0         26260.98
13            0               0        190857.79
14            1               1         65951.65
15            0               1         64327.26
16            1               0          5097.67
17            1               1         14406.41
18            0               0        158684.81
19            1               1         54724.03
20            1               1        170886.17
21            1               0        138555.46
22            1               0        118913.53
23            0               1          8487.75
24            1               1        187616.16
25            0               1        124508.29
26            1               1        170041.95
27            0               0         38433.35
28            1               1        100187.43
29            1               1         53483.21
...         ...             ...              ...
9970          1               0        119377.36
9971          0               0        166472.81
9972          1               0        171552.02
9973          1               1        157474.10
9974          1               0         13549.24
9975          1               0        196526.55
9976          1               0         84419.78
9977          1               1         24991.92
9978          1               0        191608.97
9979          0               1          2988.28
9980          0               0         99595.67
9981          1               1         53445.17
9982          1               0        115146.40
9983          0               0        151325.24
9984          1               1         51695.41
9985          1               0         96833.00
9986          0               1         34047.54
9987          1               1          1914.41
9988          1               0         49337.84
9989          1               1        179436.60
9990          1               0         53667.08
9991          1               0         69384.71
9992          1               0        195192.40
9993          1               0         29179.52
9994          0               0        167773.55
9995          1               0         96270.64
9996          1               1        101699.77
9997          0               1         42085.58
9998          1               0         92888.52
9999          1               0         38190.78

[10000 rows x 10 columns]

In [8]:
labelencoder_X_1=LabelEncoder()
X['Geography']=labelencoder_X_1.fit_transform(X['Geography'])
labelencoder_X_2=LabelEncoder()
X['Gender']=labelencoder_X_2.fit_transform(X['Gender'])

In [9]:
onehotencoder=OneHotEncoder(categorical_features=[1])
X=onehotencoder.fit_transform(X).toarray()
X=X[:,1:]

In [10]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=42)

In [11]:
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [12]:
import keras

Using TensorFlow backend.

In [13]:
from keras.models import Sequential
from keras.layers import Dense

In [14]:
classifier=Sequential()

In [15]:
classifier.add(Dense(units=6,kernel_initializer='uniform',activation='relu',input_dim=11))

In [16]:
classifier.add(Dense(units=6,kernel_initializer='uniform',activation='relu'))

In [17]:
classifier.add(Dense(units=1,kernel_initializer='uniform',activation='sigmoid'))

In [18]:
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [19]:
classifier.fit(X_train,Y_train,batch_size=10,epochs=100)

Epoch 1/100
8000/8000 [==============================] - 1s 166us/step - loss: 0.5009 - acc: 0.7936
Epoch 2/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.4326 - acc: 0.7945
Epoch 3/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.4268 - acc: 0.7945 0s - loss: 0.
Epoch 4/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.4219 - acc: 0.8075
Epoch 5/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.4186 - acc: 0.8265
Epoch 6/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.4168 - acc: 0.8281
Epoch 7/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.4148 - acc: 0.8311
Epoch 8/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.4135 - acc: 0.8316
Epoch 9/100
8000/8000 [==============================] - 1s 125us/step - loss: 0.4123 - acc: 0.8330
Epoch 10/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.4112 - acc: 0.8350
Epoch 11/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.4098 - acc: 0.8331
Epoch 12/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.4096 - acc: 0.8344
Epoch 13/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.4087 - acc: 0.8341
Epoch 14/100
8000/8000 [==============================] - 1s 121us/step - loss: 0.4081 - acc: 0.8341
Epoch 15/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.4076 - acc: 0.8356
Epoch 16/100
8000/8000 [==============================] - 1s 124us/step - loss: 0.4073 - acc: 0.8352
Epoch 17/100
8000/8000 [==============================] - 1s 125us/step - loss: 0.4067 - acc: 0.8352
Epoch 18/100
8000/8000 [==============================] - 1s 125us/step - loss: 0.4063 - acc: 0.8335
Epoch 19/100
8000/8000 [==============================] - 1s 125us/step - loss: 0.4062 - acc: 0.8357
Epoch 20/100
8000/8000 [==============================] - 1s 123us/step - loss: 0.4058 - acc: 0.8346
Epoch 21/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.4054 - acc: 0.8362
Epoch 22/100
8000/8000 [==============================] - 1s 163us/step - loss: 0.4051 - acc: 0.8354
Epoch 23/100
8000/8000 [==============================] - 1s 141us/step - loss: 0.4051 - acc: 0.8349
Epoch 24/100
8000/8000 [==============================] - 1s 124us/step - loss: 0.4045 - acc: 0.8365
Epoch 25/100
8000/8000 [==============================] - 1s 131us/step - loss: 0.4039 - acc: 0.8359
Epoch 26/100
8000/8000 [==============================] - 1s 131us/step - loss: 0.4039 - acc: 0.8355
Epoch 27/100
8000/8000 [==============================] - 1s 124us/step - loss: 0.4041 - acc: 0.8337
Epoch 28/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.4037 - acc: 0.8352
Epoch 29/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.4040 - acc: 0.8346
Epoch 30/100
8000/8000 [==============================] - 1s 119us/step - loss: 0.4035 - acc: 0.8352
Epoch 31/100
8000/8000 [==============================] - 1s 122us/step - loss: 0.4036 - acc: 0.8359
Epoch 32/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4036 - acc: 0.8349
Epoch 33/100
8000/8000 [==============================] - 1s 122us/step - loss: 0.4033 - acc: 0.8351
Epoch 34/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.4029 - acc: 0.8355
Epoch 35/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4036 - acc: 0.8352
Epoch 36/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.4024 - acc: 0.8361
Epoch 37/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.4032 - acc: 0.8355
Epoch 38/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.4028 - acc: 0.8357
Epoch 39/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.4030 - acc: 0.8350
Epoch 40/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4028 - acc: 0.8359 0s - loss: 0.390
Epoch 41/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.4026 - acc: 0.8337
Epoch 42/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4030 - acc: 0.8351
Epoch 43/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4026 - acc: 0.8355
Epoch 44/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4030 - acc: 0.8351
Epoch 45/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.4028 - acc: 0.8364
Epoch 46/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.4029 - acc: 0.8356
Epoch 47/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.4026 - acc: 0.8349
Epoch 48/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4021 - acc: 0.8365
Epoch 49/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.4028 - acc: 0.8355
Epoch 50/100
8000/8000 [==============================] - 1s 111us/step - loss: 0.4028 - acc: 0.8357
Epoch 51/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.4024 - acc: 0.8362
Epoch 52/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4025 - acc: 0.8361
Epoch 53/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.4028 - acc: 0.8360
Epoch 54/100
8000/8000 [==============================] - 1s 101us/step - loss: 0.4019 - acc: 0.8351
Epoch 55/100
8000/8000 [==============================] - 1s 108us/step - loss: 0.4022 - acc: 0.8351
Epoch 56/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.4023 - acc: 0.8350
Epoch 57/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.4022 - acc: 0.8359
Epoch 58/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.4024 - acc: 0.8342
Epoch 59/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.4020 - acc: 0.8357
Epoch 60/100
8000/8000 [==============================] - 1s 182us/step - loss: 0.4023 - acc: 0.8351
Epoch 61/100
8000/8000 [==============================] - 1s 148us/step - loss: 0.4025 - acc: 0.8345
Epoch 62/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4022 - acc: 0.8365
Epoch 63/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.4023 - acc: 0.8355
Epoch 64/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4019 - acc: 0.8367
Epoch 65/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4019 - acc: 0.8352
Epoch 66/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.4021 - acc: 0.8355
Epoch 67/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.4018 - acc: 0.8351
Epoch 68/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4020 - acc: 0.8357
Epoch 69/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.4016 - acc: 0.8346
Epoch 70/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.4022 - acc: 0.8346
Epoch 71/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.4021 - acc: 0.8364
Epoch 72/100
8000/8000 [==============================] - 1s 103us/step - loss: 0.4019 - acc: 0.8361
Epoch 73/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.4019 - acc: 0.8359
Epoch 74/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.4020 - acc: 0.8356
Epoch 75/100
8000/8000 [==============================] - 1s 106us/step - loss: 0.4012 - acc: 0.8351
Epoch 76/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.4018 - acc: 0.8350
Epoch 77/100
8000/8000 [==============================] - 1s 108us/step - loss: 0.4019 - acc: 0.8357
Epoch 78/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.4019 - acc: 0.8356
Epoch 79/100
8000/8000 [==============================] - 1s 105us/step - loss: 0.4015 - acc: 0.8352
Epoch 80/100
8000/8000 [==============================] - 1s 107us/step - loss: 0.4013 - acc: 0.8357
Epoch 81/100

8000/8000 [==============================] - 1s 128us/step - loss: 0.4012 - acc: 0.8355
Epoch 82/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.4016 - acc: 0.8349
Epoch 83/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.4016 - acc: 0.8352
Epoch 84/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.4011 - acc: 0.8352
Epoch 85/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.4017 - acc: 0.8347
Epoch 86/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.4017 - acc: 0.8355
Epoch 87/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.4011 - acc: 0.8361
Epoch 88/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.4014 - acc: 0.8355
Epoch 89/100
8000/8000 [==============================] - 1s 122us/step - loss: 0.4015 - acc: 0.8352
Epoch 90/100
8000/8000 [==============================] - 1s 108us/step - loss: 0.4017 - acc: 0.8369
Epoch 91/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.4015 - acc: 0.8350
Epoch 92/100
8000/8000 [==============================] - 1s 124us/step - loss: 0.4016 - acc: 0.8339
Epoch 93/100
8000/8000 [==============================] - 1s 121us/step - loss: 0.4013 - acc: 0.8342
Epoch 94/100
8000/8000 [==============================] - 1s 121us/step - loss: 0.4012 - acc: 0.8345
Epoch 95/100
8000/8000 [==============================] - 1s 125us/step - loss: 0.4014 - acc: 0.8369
Epoch 96/100
8000/8000 [==============================] - 1s 123us/step - loss: 0.4016 - acc: 0.8349
Epoch 97/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.4015 - acc: 0.8355
Epoch 98/100
8000/8000 [==============================] - 1s 125us/step - loss: 0.4012 - acc: 0.8361
Epoch 99/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.4017 - acc: 0.8355
Epoch 100/100
8000/8000 [==============================] - 1s 125us/step - loss: 0.4013 - acc: 0.8349

In [20]:
pred_y=classifier.predict(X_test)
pred_y=(pred_y>0.5)

In [22]:
print(pred_y)

[[False]
 [False]
 [False]
 ...
 [ True]
 [False]
 [False]]

In [23]:
score=classifier.evaluate(X_test,Y_test)
score

2000/2000 [==============================] - 0s 36us/step

[0.38831053280830385, 0.8435]