In [4]:
from sklearn.datasets import load_breast_cancer

In [18]:
cancer=load_breast_cancer()

In [19]:
import pandas as pd

In [21]:
df=pd.DataFrame(cancer.data, columns=cancer.feature_names)

In [22]:
df.head()

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst radius,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871,...,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,0.09744,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678

In [24]:
data=pd.DataFrame(cancer.feature_names)

In [26]:
data.head(30)

                          0
0               mean radius
1              mean texture
2            mean perimeter
3                 mean area
4           mean smoothness
5          mean compactness
6            mean concavity
7       mean concave points
8             mean symmetry
9    mean fractal dimension
10             radius error
11            texture error
12          perimeter error
13               area error
14         smoothness error
15        compactness error
16          concavity error
17     concave points error
18           symmetry error
19  fractal dimension error
20             worst radius
21            worst texture
22          worst perimeter
23               worst area
24         worst smoothness
25        worst compactness
26          worst concavity
27     worst concave points
28           worst symmetry
29  worst fractal dimension

In [27]:
df.shape()

TypeError: 'tuple' object is not callable

In [28]:
df.shape

(569, 30)

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
X_train,X_test,Y_train,Y_test=train_test_split(cancer.data,cancer.target,stratify=cancer.target,random_state=42)

In [31]:
#stratify to keep the number of cancer positive in train data proportiionate to data. Target here means 1/0 ie +/-. 42 used as a shuffling order.

In [37]:
df2=pd.DataFrame(X_train)
df.head()

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst radius,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871,...,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,0.09744,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678

In [38]:
df2.shape

(426, 30)

In [39]:
df3=pd.DataFrame(X_test)

In [40]:
df3.head()

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,12.75,16.70,82.51,493.8,0.11250,0.11170,0.03880,0.02995,0.2120,0.06623,...,14.45,21.74,93.63,624.1,0.1475,0.1979,0.1423,0.08045,0.3071,0.08557
1,17.99,20.66,117.80,991.7,0.10360,0.13040,0.12010,0.08824,0.1992,0.06069,...,21.08,25.41,138.10,1349.0,0.1482,0.3735,0.3301,0.19740,0.3060,0.08503
2,14.96,19.10,97.03,687.3,0.08992,0.09823,0.05940,0.04819,0.1879,0.05852,...,16.25,26.19,109.10,809.8,0.1313,0.3030,0.1804,0.14890,0.2962,0.08472
3,12.88,18.22,84.45,493.1,0.12180,0.16610,0.04825,0.05303,0.1709,0.07253,...,15.05,24.37,99.31,674.7,0.1456,0.2961,0.1246,0.10960,0.2582,0.08893
4,14.60,23.29,93.97,664.7,0.08682,0.06636,0.08390,0.05271,0.1627,0.05416,...,15.79,31.71,102.20,758.2,0.1312,0.1581,0.2675,0.13590,0.2477,0.06836

In [42]:
df3.shape

(143, 30)

In [43]:
df4=pd.DataFrame(Y_train)

In [44]:
df4.head()

   0
0  0
1  1
2  0
3  0
4  0

In [45]:
df4.shape

(426, 1)

In [48]:
df5=pd.DataFrame(Y_test)

In [49]:
df5.head()

   0
0  1
1  0
2  1
3  1
4  0

In [50]:
from sklearn.linear_model import LogisticRegression
log_reg=LogisticRegression()
log_reg.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [51]:
log_reg.score(X_train,Y_train)

0.9530516431924883

In [52]:
log_reg.score(X_test,Y_test)

0.958041958041958